{% extends "LabSweetUser/layout.html" %}
{% load static %}
{% block body %}
<body class="bg-image">
  <div class=color-overlay>
  <div class="container d-flex justify-content-center">
    <div class="login-box">
      <div class="mb-4"><img src="{% static 'logo_2.png' %}"></div>
        <div class="justify-content-center">
          <div class="p-2">
            <h2 class="mb-4">Register</h2>
              {% if message %}
                <div>{{ message }}</div>
              {% endif %}
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control mb-1" autofocus type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-3" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-1" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control mb-3" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <input class="btn btn-warning" type="submit" value="Register">
                </form>
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
</body>
  {% endblock %}