{% extends "LabSweetUser/staff_nav.html" %}
{% load static %} 
{% block body %}
<body style="background-color: #fcfaf1;">
  <div class="container">
    <div class="d-flex justify-content-evenly" id="outstanding-view">
      <div id="worklists-table" class="col-xl-4 my-4">
        <h5>Outstanding Work</h5>
        <div class="overflow-y-scroll" style="height: 300px;">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Attribute</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody id="outstanding-body">
            </tbody>
          </table>
        </div>
      </div>
      <div id="worklists-table" class="col-xl-4 my-4">
          <h5 id="worklists-header"></h5>
        <div class="overflow-y-scroll" style="max-height: 300px;">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Worklist</th>
                <th>Attribute</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody id="worklists-body">
            </tbody>
          </table>
          <button class="btn btn-sm btn-secondary" id="complete-worklists-btn">Complete</button>
          <button class="btn btn-sm btn-secondary" id="outstanding-worklists-btn">Outstanding</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="worklist-view">
    <h5 id="worklist-name"></h5>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr id="worklist-view-head">
        </tr>
      </thead>
      <tbody id="worklist-view-body">
      </tbody>
    </table>
    <div id="download-btn"></div>
  </div>
  <script src="{% static 'staff_view.js' %}"></script>
</body>
{% endblock %}