{% extends "LabSweetUser/layout.html" %} 
{% load static %} 
{% block body %}

<div>
  <form class="gx-3 gy-2 align-items-center" id="sample-submit">
    <div class="row form-row mb-2">
      <div class="col-sm-3">
        <input type="text" class="form-control" name="sample-id" placeholder="Sample ID">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <div class="input-group-text">Batch</div>
          <input type="text" class="form-control" name="batch" placeholder="Batch">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="test-checkbox" value="AFB">
          <label class="form-check-label" for="me">
            AFB
          </label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="test-checkbox" value="DIA">
          <label class="form-check-label" for="be">
            Diastase
          </label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="test-checkbox" value="TUT">
          <label class="form-check-label" for="we">
            Tutin
          </label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="test-checkbox" value="GLY">
          <label class="form-check-label" for="we">
            Glyphosate
          </label>
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="test-checkbox" value="LPS">
          <label class="form-check-label" for="we">
            Leptosperin
          </label>
        </div>
      </div>
    </div>
  </form>
  <button type="submit" class="btn btn-primary" id="submit">Submit</button>
	<button class="btn btn-secondary" id="add">Add</button>
</div>
<script src="{% static 'index.js' %}"></script>
{% endblock %}