@keyframes showTable {
    0% {
      opacity: 0;
      height: 0%;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
}

.bordered-box {
    background-color: white; 
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 3rem;
    align-items: center;
}

.table {
    animation-name: showPost;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.clickable {
  cursor: pointer;
}

.honeycomb {
  --s: 12px; /* control the size*/
  --c1: #f7fdff;
  --c2: #dce0d7;
  
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}